---
const { title, url } = Astro.props
const encodedUrl = encodeURIComponent(url)
const encodedTitle = encodeURIComponent(title)
import { Icon } from 'astro-icon/components'
import { shareButtonsConfig } from '../../config'
---

<div class="share-buttons justify-end">
    {shareButtonsConfig.map(button => (
        <a
            class={button.name.toLowerCase()}
            href={button.url(encodedUrl, encodedTitle)}
            target="_blank"
            rel="nofollow noopener"
            onclick={button.openInNewWindow ? "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=550');return false;" : ""}
        >
            <Icon name={button.icon} class="h-6 w-6 text-[var(--primary)]" />
        </a>
    ))}
</div>

<style>
    .share-buttons {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }
    .share-buttons img {
        width: 32px;
        height: 32px;
    }
</style>